* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}
:root {
  --font-heading: "Young Serif", serif;
  --font-body: "Outfit", sans-serif;
}
body {
  background-color: hsl(30, 54%, 90%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container {
  padding: 30px;
  width: 700px;
}
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 20px;
}
img {
  max-width: 100%;
  border-radius: 15px;
}
h1 {
  font-family: var(--font-heading);
  font-weight: 400;
}
p {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
}
li {
  font-family: var(--font-body);
  color: hsl(30, 10%, 34%);
}
::marker {
  color: hsl(14, 45%, 36%);
}
.section {
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
  padding: 30px;
}
.section h2 {
  color: hsl(332, 51%, 32%);
}
span {
  font-weight: 600;
  color: hsl(30, 10%, 34%);
}
hr {
  border: 1px solid hsl(30, 18%, 87%);
}
h2 {
  font-family: var(--font-heading);
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-body);
}

table tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

table tr:last-child {
  border-bottom: none;
}

table td {
  padding: 12px 0;
  color: hsl(30, 10%, 34%);
}

table td:last-child {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  body {
    padding: 10px;
  }
}
